<!-- The header ejs template is included to ensure our CSS and fonts are loaded -->
<%- include('partials/header') %>


    <div id="quiz_main_box">
        <h1>Quiz Completed</h1>
        <p>Your current streak: <%= streak %></p>
        <div>
            <a href="/quiz">Start a New Quiz</a>
            <a href="/">Back to Home</a>
        </div>

    </div>


    
</body>
</html>